<div class="create-page">
<h1>Edit Post</h1>

<a href="/" class="back-btn">Back to Home</a>
<div class="form-container">

  <form action="/posts/edit/<%= post._id %>" method="POST">

    
    <label for="title">Post title:</label>
    <input 
      type="text"
      id="title"
      name="title"
      value="<%= post.title %>"
      required
    >

   
    <label for="description">Description:</label>
    <textarea 
      id="description"
      name="description"
      maxlength="400"
      required
    ><%= post.description %></textarea>

    
    <div class="char-counter">
      <span id="charCount">0</span>/400 characters
    </div>

   
    <button type="submit" class="create-btn">Save Changes</button>

  </form>

</div>
</div>
<script>
  const textarea = document.getElementById("description");
  const counter = document.getElementById("charCount");

  function updateCounter() {
    counter.textContent = textarea.value.length;
  }

  textarea.addEventListener("input", updateCounter);
  updateCounter();
</script>
