@font-face {
  font-family: "Baloo2";
  src: url("/fonts/Baloo2-ExtraBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuickSand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.post-card {
  background: #FFF5E1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
  min-height: 300px;
  flex: 0 1 calc((100% - 40px) / 3);
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: break-word;

}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card h2 {
  margin: 0 0 10px;
  font-size: 48px;
  text-align: center;
  color: #5c3527;
   font-family: "Baloo2", sans-serif;
}
.no-posts-message {
    margin: 0 0 10px;
  font-size: 48px;
  text-align: center;
  color: #5c3527;
   font-family: "Baloo2", sans-serif;
}

.post-card p {
  flex-grow: 1;
  white-space: normal;
  word-wrap: break-word;
 font-family: "QuickSand", sans-serif;
  font-size: 18px;
  color: #5c3527;
font-weight: bold;
}

.post-card small {
  color: #7f5a58;
  display: block;
  margin-top: 50px;
  font-size: 14px;

}

.post-actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.post-actions .edit-btn,
.post-actions .delete-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s, transform 0.2s ease;
}

.edit-btn {
  background: #b58863;
  color: #fff;
}

.edit-btn:hover {
  background: #a3734f;
  transform: scale(1.05);
}

.delete-btn {
  background: #8b4f3b;
  color: #fff;
}

.delete-btn:hover {
  background: #7a3f2e;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .post-card {
    flex: 0 1 calc((100% - 20px) / 2);
  }
}

@media (max-width: 768px) {
  .post-card {
    flex: 0 1 100%;
  }
}
