@font-face {
  font-family: "Baloo2";
  src: url("/fonts/Baloo2-ExtraBold.ttf") format("opentype");
}
@font-face {
  font-family: "QuickSand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("opentype");
}

h1 {
  font-size: 72px;
  text-align: center;
  color: #5c3527;
  margin-top: 30px;
  font-family: "Baloo2", sans-serif;
}

.back-btn {
  display: inline-block;
  color: #5c3527;
  font-size: 48px;
  text-decoration: none;
  border-radius: 12px;
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.back-btn::before,
.back-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #43271d;
  width: 0%;
  transition: width 0.3s ease;
}

.back-btn::before {
  left: 0;
}

.back-btn::after {
  right: 0;
}

.back-btn:hover {
  color: #43271d;
}

.back-btn:hover::before,
.back-btn:hover::after {
  width: 50%;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 260px;
  margin: 0 auto;
}

.create-btn {
  padding: 12px 0;
  background: #7f5a58;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
  text-align: center;
}

.create-btn:hover {
  background: #a3734f;
}

.profile-buttons .create-btn.red-btn {
  background: #5a2f23; 
}

.profile-buttons .create-btn.red-btn:hover {
  background: #3e1f18;
}

